<h1>Comments#_form.html.erb</h1>

<h2>Haunt: <%= @haunt.name %></h2>
<h3>Description: <%= @haunt.description %></h3>

<%= form_for [@haunt, @comment] do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <br>

  <%= f.submit %>

<% end %>