<h2>Add A Review!</h2>

<h2>Haunt: <%= @haunt.name %></h2>
<p>Description:</p> 
<p><%= @haunt.description %></p>

<%= form_for [@haunt, @comment] do |f| %>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :Review %>:
  <%= f.text_area :content %>
  
  <br>
  <br>

  <%= f.submit %>

<% end %>