<h1>Add A Review!</h1>

<h2>Haunt: <%= @haunt.name %></h2>
<p>Description: <%= @haunt.description %></p>

<%= form_for [@haunt, @comment] do |f| %>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <br>

  <%= f.submit %>

<% end %>