<h3>Welcome: <%= current_user.email %> </h3>

<h1>User Reviews</h1>

<table>	
  <thead>
    <tr>
      <th>User Reviews for:</th>
      <th>Location</th>
      <th>Descrption</th>
    </tr>
  </thead>

  <tbody> 
    <tr>
      <td><%= @haunt.name %></td>
      <td><%= @haunt.location %></td>
      <td><%= @haunt.description %></td>
    </tr>
  </tbody>
</table> 
   
  <br>
  <br>

<table>
  <thead>
    <tr>
      <th>Reviews</th>    
    </tr>
  </thead>

  <tbody> 
      <% @haunt.comments.each do |comment| %>

      <!-- Move this logic to the model -->
          <% if !comment.content.blank? %>
      <tr>
        <td><%= comment.user.email %> says: <%= comment.content %>  </td>
        <% end %>
      <% end %> 
    </tr>
  </tbody>
</table>




 

    
      
      	
   
   
    

