<h1>comments#index</h1>

<h2>Welcome: <%= current_user.email %> </h2>

<table>	
    <tr>
      <th>User Reviews for: <td><%= @haunt.name %></td></th>
      <th>Location <td><%= @haunt.location %></td></th>
      <th>Descrption <td><%= @haunt.description %></td></th>
      <th colspan="10"></th>
    </tr>
  </thead>
</table>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Review</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
   <tbody>
    <% @comments.each do |comment| %>
   		<tr>
      	
      	<td><strong><%= comment.user.email %> says:</strong></td>
      	<td>"<%= comment.content %>"</td> 
    </tr>
      <% end %>
	</tbody>
</table>
 		
 		<%#= binding.pry %>

</table>


      <%#= binding.pry %>
      
        <td><%#= link_to 'Add A Review', haunt_comment_path(@haunt)  %></td>
        <td><%#= link_to 'Add A Review', new_haunt_comment_path(haunt) %></td>
        <td><%#= link_to 'Edit', edit_haunt_path(haunt) %></td>
        <td><%#= link_to 'Destroy', haunt, method: :delete, data: { confirm: 'Are you sure?! There is no going back! Mwah ha haaaaahhh' } %></td>
      </tr>

  
   


    
  </tbody>
