<h3>Welcome: <%= current_user.email %> </h3>

<h1>User Reviews</h1>

<table>	
  <thead>
    <tr>
      <th>User Reviews for:</th>
      <th>Descrption</th>
    </tr>
  </thead>

  <tbody> 
    <tr>
      <td><%= @haunt.name %></td>
      <td><%= @haunt.description %></td>
    </tr>
  </tbody>
</table> 
   
  <br>
  <br>

<table>
  <thead>
    <tr>
      <th>Reviews</th>    
    </tr>
  </thead>

  <%= link_to 'Add A Review', new_haunt_comment_path(@haunt) %>

  <tbody> 
      <% @haunt.comments.each do |comment| %>
        <tr>
          <td><%= comment.user.email %> says: <%= comment.content %>  </td>
        <% end %> 
      </tr>
  </tbody>
</table>




 

    
      
      	
   
   
    

