<%= require 'pry' %>

<h1>comments#index</h1>

<h2>Welcome: <%= current_user.email %> </h2>

<table>	
  <thead>
    <tr>
      <th>User Reviews for: <td><%= @haunt.name %></td></th>
      <th>Location <td><%= @haunt.location %></td></th>
      <th>Descrption <td><%= @haunt.description %></td></th>
      <th colspan="10"></th>
    </tr>
  </thead></table> 

<br>
<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Review</th>
      <th colspan="10"></th>
    </tr>
  </thead>
  
   <tbody> 
    
      <% @haunt.comments.each do |comment| %>

      <%#= binding.pry %>

   		<tr>
        <td><i>comment.user.email </i> <%#= comment.user.email %></td>
      	<td> says: "<%= comment.content %>"</td> 
      
    <% end %>

      </tr>
	</tbody>
</table>  
