<br>
<br>

<table>
  <thead>
    <tr>
     	<th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
      <tr>
        <td><%= @haunt.name %></td> 
        <td><%= @haunt.description %></td> 

        <!-- Hide edit and destroy options from other users' haunts -->

        <% if @comment && @comment.user == current_user %>

          <td><%= link_to 'Edit Your Review', edit_haunt_comment_path  %></td>
          <td><%= link_to 'Destroy', haunt_comment_path(@haunt.id), method: :delete, data: { confirm: 'Are you sure?! There is no going back! Mwah ha haaaaahhh' } %></td>
        
        <% end %>

    </tbody>
</table>

<p><%= link_to 'See All Reviews', haunt_comments_path(@haunt.id)  %></p> 

<p><b><%= @comment.user.email %></b> says:  "<%= @comment.content %>" </p>