<%= require 'pry' %>

<h1>usersindex</h1>

All Reviews:

<table>
  <thead>
    <tr>
        <th>User</th>
        <th>Haunt</th>
        <th>Review</th>
     <th colspan="3"></th> 
    </tr>
  </thead>

  <tbody>
     
        <%= @comments.each do |comment| %>

      <tr>
      	
        
<%#= binding.pry %> 

        <td><%= comment.user.email %></td> 
        <td><%= comment.haunt.name %></td> 
        <td><%= comment.content %></td>

         
   <% end %>
  </tbody>
</table>
