<h1>Haunts#_form.html.erb</h1>

<%= form_for(@haunt) do |f| %>
<% if @haunt.errors.any? %>
    <% @haunt.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <br>

  <%= f.label :name %>
  <%= f.text_field :name, :size=>"50" %>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location, :size=>"50" %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>

  <%= f.submit %>

<% end %>