<h2>Add A Haunt:</h2>

<%= form_for(@haunt) do |f| %>
<% if @haunt.errors.any? %>
    <% @haunt.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <br>

  <%= f.label :name %>
  <%= f.text_field :name, :size=>"50" %>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city, :size=>"50" %>
  <br>
  <%= f.label :state %>
  <%= f.text_field :state, :size=>"2" %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>

  <%= f.submit %>

<% end %>