<h3>Welcome: <%= current_user.email %> </h3>

<h1>Haunt Directory</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>City</th>
      <th>State</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @haunts.each do |haunt| %>
      <tr>
        <td><%= haunt.name %></td> 
        <td><%= haunt.city %></td> 
        <td><%= haunt.state %></td> 
        <td><%= haunt.description %></td> 

        <!-- Hide edit and destroy options from other users' haunts -->

        <td><%= link_to 'See Reviews', haunt_comments_path(haunt)  %></td>
        <td><%= link_to 'Add A Review', new_haunt_comment_path(haunt) %></td>

        <% if haunt && haunt.user == current_user %>

        <%# binding.pry %>

        <td><%= link_to 'Edit', edit_haunt_path(haunt) %></td>
        <td><%= link_to 'Destroy', haunt, method: :delete, data: { confirm: 'Are you sure?! There is no going back! MWAHAHAHA!' } %></td>
        <% end %>

      </tr>
     
    <% end %>

    <%= link_to 'Haunts in California', california_haunts_path %>

  </tbody>
</table>

