<h3>Welcome: <%= current_user.email %> </h3>

<h1>Haunt Directory</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @haunts.each do |haunt| %>
      <tr>
        <td><%= haunt.name %></td> 
        <td><%= haunt.location %></td> 
        <td><%= haunt.description %></td> 
        
        <td><%= link_to 'See Reviews', haunt_comments_path(haunt)  %></td>
        <td><%= link_to 'Add A Review', new_haunt_comment_path(haunt) %></td>
        <td><%= link_to 'Edit', edit_haunt_path(haunt) %></td>
        <td><%= link_to 'Destroy', haunt, method: :delete, data: { confirm: 'Are you sure?! There is no going back! MWAHAHAHA!' } %></td>
      </tr>

    <% end %>
    
  </tbody>
</table>

<br>

