<h1>haunts#index</h1>

<h1>Haunts</h1>
<h2>Welcome: <%= current_user.email %> </h2>



<table>
  <thead>
    <tr>
    	<th>User</th>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @haunts.each do |haunt| %>
      <tr>
      	<td><%= haunt.user.email %> <%= haunt.user.id %></td> 
        <td><%= haunt.name %></td> 
        <td><%= haunt.location %></td> 
        <td><%= haunt.description %></td> 
        <td><%= haunt.user.content %></td> 
        <td><%=  %></td> 
    
        <td><%= link_to 'Add A Review', edit_haunt_path(haunt) %></td>
        <td><%= link_to 'Edit', edit_haunt_path(haunt) %></td>
        <td><%= link_to 'Destroy', haunt, method: :delete, data: { confirm: 'Are you sure?! There is no going back! Mwah ha haaaaahhh' } %></td>
      </tr>
    <% end %>


    
  </tbody>
</table>

<br>


