<h1>Review#New</h1>


<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<h2>Create a Review!</h2>

<%= form_for(@review) do |f| %>
<%= f.fields_for :haunts, @review.haunts.build do |reviews| %>
    <%= reviewss.text_field :comment %>
     <% end %> <br>

  <%= f.submit %>
<% end %>