<!DOCTYPE html>
<html>
<head>
  <title>Haunted</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  
  <% if flash[:error].present? %>
    <p class='flash-error'><%= flash[:error] %></p>
  <% end %>
  <% if flash[:notice].present? %>
    <p class='flash-notice'><%= flash[:notice] %></p>
  <% end %>

  <!--Devise Login Links-->

  <% if user_signed_in? %>
    <%= link_to "Edit profile", edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete  %> | 
    <%= link_to "Add A Haunt", new_haunt_path %> |
    <%= link_to "See All The Haunts", haunts_path %> |
    <%= link_to 'See Haunts only in California', california_haunts_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path  %> |
    <%= link_to "Login", new_user_session_path  %>
  <% end %>
  
  <%= yield %>
  
</body>
</html>